In [1]:
import pandas as pd
data1 = pd.read_csv('AMAZON_REVIEW_DATASET.csv')
data1

      Rating                                         reviewText
0          4                                         No issues.
1          5  Purchased this for my device, it worked as adv...
2          4  it works as expected. I should have sprung for...
3          5  This think has worked out great.Had a diff. br...
4          5  Bought it with Retail Packaging, arrived legit...
...      ...                                                ...
4910       1  I bought this Sandisk 16GB Class 10 to use wit...
4911       5  Used this for extending the capabilities of my...
4912       5  Great card that is very fast and reliable. It ...
4913       5  Good amount of space for the stuff I want to d...
4914       5  I've heard bad things about this 64gb Micro SD...

[4915 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)
data1.reset_index(drop=True, inplace=True)

In [3]:
data1['target_variable'] = data1['Rating']
data1['Features'] = data1['reviewText']
data1.drop(['Rating', 'reviewText'], axis=1, inplace=True)
data1

      target_variable                                           Features
0                   4                                         No issues.
1                   5  Purchased this for my device, it worked as adv...
2                   4  it works as expected. I should have sprung for...
3                   5  This think has worked out great.Had a diff. br...
4                   5  Bought it with Retail Packaging, arrived legit...
...               ...                                                ...
4909                1  I bought this Sandisk 16GB Class 10 to use wit...
4910                5  Used this for extending the capabilities of my...
4911                5  Great card that is very fast and reliable. It ...
4912                5  Good amount of space for the stuff I want to d...
4913                5  I've heard bad things about this 64gb Micro SD...

[4914 rows x 2 columns]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,00,000,00128,002,00s,01,017,022,024b,03,...,zl,zone,zoning,zoom,zte,ztpad,zumo,zune,zunehd,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
4911,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
4912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
4913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,00,000,00128,002,00s,01,017,022,024b,...,zips,zl,zone,zoning,zoom,zte,ztpad,zumo,zune,zunehd
0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4910,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4911,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4912,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4913,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable  4  5  3  1  2
0                   4  0  0  0  0  0
1                   5  0  0  0  0  0
2                   4  2  0  0  0  0
3                   5  0  2  0  0  0
4                   5  0  6  0  0  0
...               ... .. .. .. .. ..
4909                1  0  0  0  1  0
4910                5  0  5  0  0  0
4911                5  0  1  0  0  0
4912                5  0  0  0  0  0
4913                5  0  1  0  0  0

[4914 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

In [9]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [10]:
print("\033[1mAMAZON_REVIEW_DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

AMAZON_REVIEW_DATASET


Logistic Regression Bag of Words:
Train Accuracy: 0.9737980157720681
Test Accuracy: 0.8067141403865717


Logistic Regression Tf-idf:
Train Accuracy: 0.8323581785805139
Test Accuracy: 0.8138351983723296


Logistic Regression DKE:
Train Accuracy: 0.9000254388196388
Test Accuracy: 0.901322482197355


Decision Tree Bag of Words:
Train Accuracy: 0.9997456118036123
Test Accuracy: 0.7273652085452695


Decision Tree Tf-idf:
Train Accuracy: 0.9997456118036123
Test Accuracy: 0.7405900305188199


Decision Tree DKE:
Train Accuracy: 0.9000254388196388
Test Accuracy: 0.901322482197355