In [1]:
import pandas as pd
data1 = pd.read_csv('EMAIL_SPAM_DATASET.csv', encoding='latin1')
data1

                                           Message_body     Label
0                            Rofl. Its true to its name  Non-Spam
1     The guy did some bitching but I acted like i'd...  Non-Spam
2     Pity, * was in mood for that. So...any other s...  Non-Spam
3                  Will ü b going to esplanade fr home?  Non-Spam
4     This is the 2nd time we have tried 2 contact u...      Spam
...                                                 ...       ...
1077  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
1078  Try to do something dear. You read something f...  Non-Spam
1079  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
1080  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
1081  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)

In [3]:
data1['target_variable'] = data1['Label']
data1['Features'] = data1['Message_body']
data1.drop(['Message_body', 'Label'], axis=1, inplace=True)
data1

     target_variable                                           Features
0           Non-Spam                         Rofl. Its true to its name
1           Non-Spam  The guy did some bitching but I acted like i'd...
2           Non-Spam  Pity, * was in mood for that. So...any other s...
3           Non-Spam               Will ü b going to esplanade fr home?
4               Spam  This is the 2nd time we have tried 2 contact u...
...              ...                                                ...
1077        Non-Spam  7 wonders in My WORLD 7th You 6th Ur style 5th...
1078        Non-Spam  Try to do something dear. You read something f...
1079        Non-Spam  Sun ah... Thk mayb can if dun have anythin on....
1080        Non-Spam  SYMPTOMS when U are in love: "1.U like listeni...
1081        Non-Spam  Great. Have a safe trip. Dont panic surrender ...

[1082 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
target_encode1 = LabelEncoder()
data1['target_variable'] = target_encode1.fit_transform(data1['target_variable'])
data1

      target_variable                                           Features
0                   0                         Rofl. Its true to its name
1                   0  The guy did some bitching but I acted like i'd...
2                   0  Pity, * was in mood for that. So...any other s...
3                   0               Will ü b going to esplanade fr home?
4                   1  This is the 2nd time we have tried 2 contact u...
...               ...                                                ...
1077                0  7 wonders in My WORLD 7th You 6th Ur style 5th...
1078                0  Try to do something dear. You read something f...
1079                0  Sun ah... Thk mayb can if dun have anythin on....
1080                0  SYMPTOMS when U are in love: "1.U like listeni...
1081                0  Great. Have a safe trip. Dont panic surrender ...

[1082 rows x 2 columns]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,000,0121,02,0207,02073162414,021,03,04,05,06,...,yoville,yr,yummy,yuo,yup,zebra,zed,zeros,ú1,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1078,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1079,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1081,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,000,0121,02,0207,02073162414,021,03,04,05,...,yourself,yoville,yr,yummy,yuo,yup,zebra,zed,zeros,ú1
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1078,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1079,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1080,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1081,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable   0  1
0                   0   0  0
1                   0  10  0
2                   0   2  0
3                   0   4  0
4                   1   0  4
...               ...  .. ..
1077                0  11  0
1078                0   4  0
1079                0  11  0
1080                0   9  0
1081                0   3  0

[1082 rows x 3 columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

In [9]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

In [10]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [11]:
print("\033[1mEMAIL_SPAM_DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

EMAIL_SPAM_DATASET


Logistic Regression Bag of Words:
Train Accuracy: 0.9988439306358381
Test Accuracy: 0.9493087557603687


Logistic Regression Tf-idf:
Train Accuracy: 0.9387283236994219
Test Accuracy: 0.9124423963133641


Logistic Regression DKE:
Train Accuracy: 0.9953757225433526
Test Accuracy: 1.0


Decision Tree Bag of Words:
Train Accuracy: 1.0
Test Accuracy: 0.9447004608294931


Decision Tree Tf-idf:
Train Accuracy: 1.0
Test Accuracy: 0.9447004608294931


Decision Tree DKE:
Train Accuracy: 0.9953757225433526
Test Accuracy: 1.0