In [1]:
import pandas as pd
data1 = pd.read_csv('FIANCIAL_SENTIMENT_DATASET.csv')
data1

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5837  RISING costs have forced packaging producer Hu...  negative
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5840  In the building and home improvement trade , s...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[5842 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)

In [3]:
data1['target_variable'] = data1['Sentiment']
data1['Features'] = data1['Sentence']
data1.drop(['Sentiment', 'Sentence'], axis=1, inplace=True)
data1

     target_variable                                           Features
0           positive  The GeoSolutions technology will leverage Bene...
1           negative  $ESI on lows, down $1.50 to $2.50 BK a real po...
2           positive  For the last quarter of 2010 , Componenta 's n...
3            neutral  According to the Finnish-Russian Chamber of Co...
4            neutral  The Swedish buyout firm has sold its remaining...
...              ...                                                ...
5837        negative  RISING costs have forced packaging producer Hu...
5838         neutral  Nordic Walking was first used as a summer trai...
5839         neutral  According shipping company Viking Line , the E...
5840         neutral  In the building and home improvement trade , s...
5841        positive  HELSINKI AFX - KCI Konecranes said it has won ...

[5842 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
target_encode1 = LabelEncoder()
data1['target_variable'] = target_encode1.fit_transform(data1['target_variable'])
data1

      target_variable                                           Features
0                   2  The GeoSolutions technology will leverage Bene...
1                   0  $ESI on lows, down $1.50 to $2.50 BK a real po...
2                   2  For the last quarter of 2010 , Componenta 's n...
3                   1  According to the Finnish-Russian Chamber of Co...
4                   1  The Swedish buyout firm has sold its remaining...
...               ...                                                ...
5837                0  RISING costs have forced packaging producer Hu...
5838                1  Nordic Walking was first used as a summer trai...
5839                1  According shipping company Viking Line , the E...
5840                1  In the building and home improvement trade , s...
5841                2  HELSINKI AFX - KCI Konecranes said it has won ...

[5842 rows x 2 columns]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,00,000,000063,002,0025,003,0030,007,008,01,...,ñnnen,ñnsi,ñrnits,ñrtsil,ñrvi,ñrvinen,ñskyl,óeur,úo,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,00,000,000063,002,0025,003,0030,007,008,...,ñnge,ñnnen,ñnsi,ñrnits,ñrtsil,ñrvi,ñrvinen,ñskyl,óeur,úo
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5837,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5838,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5839,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5840,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5841,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable  2  0  1
0                   2  4  0  0
1                   0  0  0  0
2                   2  2  0  0
3                   1  0  0  1
4                   1  0  0  1
...               ... .. .. ..
5837                0  0  0  0
5838                1  0  0  3
5839                1  0  0  0
5840                1  0  0  0
5841                2  3  0  0

[5842 rows x 4 columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

In [10]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [11]:
print("\033[1mFIANCIAL_SENTIMENT_DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

FIANCIAL_SENTIMENT_DATASET


Logistic Regression Bag of Words:
Train Accuracy: 0.9225337042585063
Test Accuracy: 0.6911890504704876


Logistic Regression Tf-idf:
Train Accuracy: 0.8439974320564948
Test Accuracy: 0.7117194183062446


Logistic Regression DKE:
Train Accuracy: 0.786646693772737
Test Accuracy: 0.7904191616766467


Decision Tree Bag of Words:
Train Accuracy: 0.9270276053926814
Test Accuracy: 0.5825491873396065


Decision Tree Tf-idf:
Train Accuracy: 0.9270276053926814
Test Accuracy: 0.5842600513259196


Decision Tree DKE:
Train Accuracy: 0.786646693772737
Test Accuracy: 0.7904191616766467