In [1]:
import pandas as pd
data1 = pd.read_csv('HINDUTAMIL_NEWS_DATASET.csv')
data1

        Category                                              Title
0     technology  VLC மீடியா பிளேயர் மீதான தடை நீக்கம்: இந்தியாவ...
1     technology  Street View | இந்தியா முழுவதும் கூகுள் அறிமுகம...
2     technology  Step-by-Step Guide | பான் - ஆதார் இணைப்பின் நி...
3      education  STEM பள்ளித் திட்டம்: 56 மாணவர்களுக்கு சிறப்பு...
4          crime  Sivakasi | இரு சிறுமிகளுக்கு பாலியல் தொல்லை அள...
...          ...                                                ...
3652  technology  ஆவலை வீசுவோம் 27: தேடாததை தேட உதவும் தேடியந்தி...
3653  technology  ஆவலை வீசுவோம் 23 - இணையத்தில் புத்தகம் தேடும் ...
3654  technology  ஆவலை வீசுவோம் 20 - பயனுள்ள பிடிஎப் தேடியந்திரங...
3655  technology  ஆவலை வீசுவோம் 19 - வியத்தகு வீடியோ தேடியந்திரங...
3656  technology  ஆவலை வீசுவோம் 14 - காட்சி தேடியந்திரங்கள் | ஆவ...

[3657 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)

In [3]:
data1['target_variable'] = data1['Category']
data1['Features'] = data1['Title']
data1.drop(['Title', 'Category'], axis=1, inplace=True)
data1

     target_variable                                           Features
0         technology  VLC மீடியா பிளேயர் மீதான தடை நீக்கம்: இந்தியாவ...
1         technology  Street View | இந்தியா முழுவதும் கூகுள் அறிமுகம...
2         technology  Step-by-Step Guide | பான் - ஆதார் இணைப்பின் நி...
3          education  STEM பள்ளித் திட்டம்: 56 மாணவர்களுக்கு சிறப்பு...
4              crime  Sivakasi | இரு சிறுமிகளுக்கு பாலியல் தொல்லை அள...
...              ...                                                ...
3652      technology  ஆவலை வீசுவோம் 27: தேடாததை தேட உதவும் தேடியந்தி...
3653      technology  ஆவலை வீசுவோம் 23 - இணையத்தில் புத்தகம் தேடும் ...
3654      technology  ஆவலை வீசுவோம் 20 - பயனுள்ள பிடிஎப் தேடியந்திரங...
3655      technology  ஆவலை வீசுவோம் 19 - வியத்தகு வீடியோ தேடியந்திரங...
3656      technology  ஆவலை வீசுவோம் 14 - காட்சி தேடியந்திரங்கள் | ஆவ...

[3657 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
target_encode1 = LabelEncoder()
data1['target_variable'] = target_encode1.fit_transform(data1['target_variable'])
data1

      target_variable                                           Features
0                   4  VLC மீடியா பிளேயர் மீதான தடை நீக்கம்: இந்தியாவ...
1                   4  Street View | இந்தியா முழுவதும் கூகுள் அறிமுகம...
2                   4  Step-by-Step Guide | பான் - ஆதார் இணைப்பின் நி...
3                   3  STEM பள்ளித் திட்டம்: 56 மாணவர்களுக்கு சிறப்பு...
4                   2  Sivakasi | இரு சிறுமிகளுக்கு பாலியல் தொல்லை அள...
...               ...                                                ...
3652                4  ஆவலை வீசுவோம் 27: தேடாததை தேட உதவும் தேடியந்தி...
3653                4  ஆவலை வீசுவோம் 23 - இணையத்தில் புத்தகம் தேடும் ...
3654                4  ஆவலை வீசுவோம் 20 - பயனுள்ள பிடிஎப் தேடியந்திரங...
3655                4  ஆவலை வீசுவோம் 19 - வியத்தகு வீடியோ தேடியந்திரங...
3656                4  ஆவலை வீசுவோம் 14 - காட்சி தேடியந்திரங்கள் | ஆவ...

[3657 rows x 2 columns]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,000,013,02,029,04,05,051,06,079,084,...,ஸக,ஸஞ,ஸன,ஸம,ஸல,ஹசன,ஹர,ஹல,ஹவ,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,000,013,02,029,04,05,051,06,079,...,ஷவ,ஸக,ஸஞ,ஸன,ஸம,ஸல,ஹசன,ஹர,ஹல,ஹவ
0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3653,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3654,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3655,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3656,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable  4  3   2  5  0  1
0                   4  9  0   0  0  0  0
1                   4  8  0   0  0  0  0
2                   4  9  0   0  0  0  0
3                   3  0  5   0  0  0  0
4                   2  0  0  13  0  0  0
...               ... .. ..  .. .. .. ..
3652                4  8  0   0  0  0  0
3653                4  4  0   0  0  0  0
3654                4  8  0   0  0  0  0
3655                4  6  0   0  0  0  0
3656                4  6  0   0  0  0  0

[3657 rows x 7 columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

In [10]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [11]:
print("\033[1mBBC NEWS DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

BBC NEWS DATASET


Logistic Regression Bag of Words:
Train Accuracy: 0.9996581196581197
Test Accuracy: 0.9207650273224044


Logistic Regression Tf-idf:
Train Accuracy: 0.9842735042735042
Test Accuracy: 0.924863387978142


Logistic Regression DKE:
Train Accuracy: 0.997948717948718
Test Accuracy: 1.0


Decision Tree Bag of Words:
Train Accuracy: 1.0
Test Accuracy: 0.8483606557377049


Decision Tree Tf-idf:
Train Accuracy: 1.0
Test Accuracy: 0.8442622950819673


Decision Tree DKE:
Train Accuracy: 0.997948717948718
Test Accuracy: 1.0