In [1]:
import pandas as pd
data1 = pd.read_csv('IMDB_MOVIE_REVIEW_DATASET.csv')
data1

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
2403  I sat down to watch this movie with my friends...  negative
2404  I don't think this movie was rated correctly. ...  negative
2405  This film is really a big piece of trash tryin...  negative
2406  I'm a Geena Davis fan for life because of this...  positive
2407  A great 90's flick! Parker Posey is fabulous i...  positive

[2408 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)

In [3]:
data1['target_variable'] = data1['sentiment']
data1['Features'] = data1['review']
data1.drop(['sentiment', 'review'], axis=1, inplace=True)
data1

     target_variable                                           Features
0           positive  One of the other reviewers has mentioned that ...
1           positive  A wonderful little production. <br /><br />The...
2           positive  I thought this was a wonderful way to spend ti...
3           negative  Basically there's a family where a little boy ...
4           positive  Petter Mattei's "Love in the Time of Money" is...
...              ...                                                ...
2403        negative  I sat down to watch this movie with my friends...
2404        negative  I don't think this movie was rated correctly. ...
2405        negative  This film is really a big piece of trash tryin...
2406        positive  I'm a Geena Davis fan for life because of this...
2407        positive  A great 90's flick! Parker Posey is fabulous i...

[2408 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
target_encode1 = LabelEncoder()
data1['target_variable'] = target_encode1.fit_transform(data1['target_variable'])
data1

      target_variable                                           Features
0                   1  One of the other reviewers has mentioned that ...
1                   1  A wonderful little production. <br /><br />The...
2                   1  I thought this was a wonderful way to spend ti...
3                   0  Basically there's a family where a little boy ...
4                   1  Petter Mattei's "Love in the Time of Money" is...
...               ...                                                ...
2403                0  I sat down to watch this movie with my friends...
2404                0  I don't think this movie was rated correctly. ...
2405                0  This film is really a big piece of trash tryin...
2406                1  I'm a Geena Davis fan for life because of this...
2407                1  A great 90's flick! Parker Posey is fabulous i...

[2408 rows x 2 columns]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,00,000,007,00am,01pm,02,04,06,07,08,...,álvaro,ángel,æon,élan,émigrés,être,ís,ísnt,île,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,00,000,007,00am,01pm,02,04,06,07,...,zzzzzzzzzzzzzzzzzz,álvaro,ángel,æon,élan,émigrés,être,ís,ísnt,île
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2404,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2405,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2406,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2407,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable   1  0
0                   1  12  0
1                   1   5  0
2                   1   6  0
3                   0   0  3
4                   1   5  0
...               ...  .. ..
2403                0   0  0
2404                0   0  2
2405                0   0  0
2406                1   2  0
2407                1   6  0

[2408 rows x 3 columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

In [10]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [11]:
print("\033[1mIMDB_MOVIE_REVIEW_DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

IMDB_MOVIE_REVIEW_DATASET


Logistic Regression Bag of Words:
Train Accuracy: 1.0
Test Accuracy: 0.8257261410788381


Logistic Regression Tf-idf:
Train Accuracy: 0.9641744548286605
Test Accuracy: 0.8402489626556017


Logistic Regression DKE:
Train Accuracy: 0.9761163032191069
Test Accuracy: 0.9771784232365145


Decision Tree Bag of Words:
Train Accuracy: 1.0
Test Accuracy: 0.6846473029045643


Decision Tree Tf-idf:
Train Accuracy: 1.0
Test Accuracy: 0.6784232365145229


Decision Tree DKE:
Train Accuracy: 0.9761163032191069
Test Accuracy: 0.9771784232365145